@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
    font-weight: 100 900;
    font-style: italic;
}

body {
 background-color: black;

}

* {
 color: white;
 text-align: center;
 font-family: 'Open Sans', sans-serif;

}