@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
    font-weight: 100 900;
    font-style: italic;
}

body {
    background-color: #1a1025;

}

a {
    color: #c084fc


}

img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

footer {
   margin-top: 1rem;
}

* {
   color: #e8e8e8;
   text-align: center;
   font-family: 'Open Sans', sans-serif;

}
